<div class="row container">
  <div class="col-md-6">
   <form >
     <div class="row price-type">
        <div class="col-md-4">Sales Price Name</div>
        <div class="col-md-4">
          <input type="radio" />
          <label for="">Wholesales</label>
        </div>
        <div class="col-md-4">
          <input type="radio" />
          <label >Retail</label>
        </div>
     </div>
     <div class="row">
        <div class="col-12">
            <label for="">Barcode</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-12">
            <label for="">Barcode</label>
            <input type="text" class="form-control">
        </div>
     </div>
     <div class="row">
        <div class="col-md-4">
            <label for="">Quntity</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Price</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Total Price</label>
            <input type="text" class="form-control">
        </div>
     </div>
     <div class="add-product">
        <button type="submit" class="btn btn-primary">Add</button>
     </div>
   </form>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <label for="">Serch</label>
        <input type="search" class="form-control">
      </div>
        
    </div>
  </div>
</div>
