<div class="sidebar-section">
  <div class="sidebar-header">
    <h3>Point Of Sale</h3>
  </div>

  <div class="sidebar-links">
    <ul class="sidebar-menu">
      <li routerLink="/users" class="nave-items">Users</li>
      <li routerLink="/" class="nave-items">Sales</li>
      <li routerLink="/" class="nave-items">Return</li>
      <li routerLink="/" class="nave-items">Items</li>

      <li routerLink="/" class="nave-items">Orders</li>
      <li routerLink="/" class="nave-items">Reports</li>
    
      <hr />
      <li routerLink="/" class="nave-items">Setting</li>
    </ul>
  </div>
</div>
