.sidebar-section {



  // padding: 20px;


  .sidebar-header {
    margin: 0;
    padding: 0;

    .sidebar-highlight {
      color: #007bff;

    }


  }


  .sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;

    .sidebar-items {
      .sidebar-link {
        text-decoration: none;
        color: #888;
        display: flex;
        padding: 1rem;



      }



    }

    .active-link {
      .sidebar-link {
        color: #007bff;
        background-color: #e8f0fe;
        font-weight: bold;
        border-radius: 5px;

      }
    }

  }















}









