

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table-content" >

    <!-- Position Column -->
   
   

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>  User Name </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{element.username}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{element.password}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element;let i = index">
          <button class=" btn btn-primary" type="button" (click)="editUser(element.id)">Edit</button>
          <button class="delet-user btn btn-danger" type="button"  (click)="deletUser(element.id)">Delete</button> 
      </td>

    </ng-container>

    <!-- Symbol Column -->
   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 
</div>
<mat-paginator  [length]="100" [pageSize]="3" [pageSizeOptions]="[5,10,15]" aria-label="Select page">
</mat-paginator>



 