.navbar-container {
  margin-bottom: 1rem;
  background-color: #fff;

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    padding-right: 2rem;

    .dateTime{ 
     text-align: center;
   
    }
    .user-menu {

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      // .image{
      //   width: 32px;
      //   height: 32px;
      //   border-radius: 50%;
      // }

     
      .avatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;

      }

      .menu-icon {
        padding-left: 1rem;
      }

      .dropdown {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 3rem;
        list-style: none;
        border-radius: 5px;
        padding: 1rem;

        .dropdown-link {
          text-decoration: none;
          padding: 1rem;
          cursor: pointer;
     


        }
        // .link-active {
        //   .dropdown-link{
        //     color: #007bff;
        //     background-color: #e8f0fe;
        //     font-weight: bold;
        //     border-radius: 5px;

        //   }
    
         
        // }


      }


    }

    
    
  }



}