<div class="navbar-container">
<div class="navbar">
    <div class="dateTime">
        <span>12/10/2020</span> <br>
        <span>10.30 Am</span>

    </div>
    <div class="user-menu" (click)=" toggleDropdown()">
        <img  class="avatar" src= 'assets/avatar.jpg'  alt="user">
        <span>Aya Sakr</span>
        <ul class="dropdown">
            <li><a href="">Profile</a></li>
            <li><a href="">Setting</a></li>
            <li><a href="">logOut</a></li>
        </ul>

    </div>
</div>

</div>
