.container{
  margin-top: 2rem;
  .search-product{
    text-align: left;
    // width: 500px;
    margin-bottom: 1rem;
    margin-top: 2rem;

  }
  .card{
    th,
    td {
      text-align: center;
    }
    .p-inputgroup {
      .center-input {
        text-align: center;
      }
    }

  }
 
  

  
}
